@charset "UTF-8";
/* PUBLICATIONS override styles */
#publication-list .usa-button--secondary {
    border: none !important;
    padding: 4px 12px 4px 12px !important;
    font-size: 11px !important;
    margin: 1px 0 0 0 !important;
    font-weight: 500 !important;
    letter-spacing: .5px !important;
    border-radius: 2px !important;
}

#publication-list button:not([disabled]):focus, input:not([disabled]):focus, select:not([disabled]):focus, textarea:not([disabled]):focus {
    outline: none !important;
    outline-offset: 0 !important;
}

#publication-list .col1 {
    padding-left: 1% !important;
    margin-top: 3.5% !important;
}

#publication-list .usa-searchbox__input {
    font-size: 12px !important;
    width: 80% !important;
    padding: 6px 5px 5px 5px !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    #publication-list .usa-searchbox__input {
        padding: 5px 20px 1px 6px !important;
    }
}

@media screen and (max-width: 767px){
    #publication-list .usa-search__submit-text {
        display: block !important;
    }
    #publication-list .usa-button--secondary {
        max-width: 70px !important;
    }
}

#publication-list .usa-checkbox__label {
    display: flex !important;
}

#publication-list .usa-checkbox__input[type="checkbox"] {
    accent-color: transparent !important;
}

#publication-list .jplist-selected[type="checkbox"]:checked {
    accent-color: red !important;
}

#publication-list .no-result-found {
    margin-top: 5% !important;
}

#publication-list input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none !important;
    appearance: none !important;
}

#publication-list input[type="checkbox"] {
    appearance: none !important;
    background-color: transparent !important;
    margin: 0 !important;
    font: inherit !important;
    color: currentColor !important;
    width: 1em !important;
    height: 1em !important;
    border: 0.1em solid currentColor !important;
    border-radius: 0.15em !important;
    transform: translateY(-0.075em) !important;
    display: grid !important;
    place-content: center !important;
    margin-right: 8px !important;
}

#publication-list input[type="checkbox"]:checked {
    background-color: red !important;
    border: none !important;
}

#publication-list input[type="checkbox"]::before {
    width: 0.5em !important;
    height: 0.5em !important;
    transform: scale(0) !important;
    transition: 120ms transform ease-in-out !important;
    box-shadow: inset 1em 1em var(--form-control-color) !important;
    
    content: ""!important;
    background-color: #fff !important;
    transform-origin: bottom left !important;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%) !important;
}

#publication-list input[type="checkbox"]:checked::before {
    transform: scale(1) !important;
    background-color: #fff !important;
}

#publication-list .filter--checkboxes-header {
    margin-top: 12% !important;
}

/* BIOS override styles */
#bios-list {
    background: #171716;
}

.bio__title {
    color: #A9AEB1;
}

.bio-rows:nth-child(even) {
    flex-flow: row-reverse;
}

.bios-list__item > h3.bio__title {
    margin-top: .5rem;
}

@media screen and (max-width: 640px) {
    .bios-list__img {
        text-align: center;
    }

    .bio-rows:nth-child(even) {
        flex-flow: column;
    }

    .bios-list__item h3 {
        text-align: center;
    }

    .bios-list__item {
        padding-left: 0;
        padding-right: 0;
    }

    .bios-list__item > h3 {
        margin-top: 1rem;
    }
}

